<!-- <p>
  product-list works!
</p> -->

<div class="container">
	<div class="table-responsive" style="margin-top: 30px;">
		<table id="productListTable" class="table bordered highlight">
			<thead>
				<tr>
					<th>
						<input type="checkbox" (change)="updateSelected($event.target.checked)" />
					</th>
					<th>Title</th>
					<th>Author</th>
					<th>Category</th>
					<th>List Price</th>
					<th>Our Price</th>
					<th>Active?</th>
					<th>Operation</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor = "let product of productList">
					<td>
						<input hidden="hidden" name="id" />
						<input type="checkbox" [checked]="allChecked" (change)="updateRemoveProductList($event.target.checked, product)" />
					</td>
					<td><a (click)="onSelect(product)" style="cursor:pointer">{{product.title}}</a></td>
					<td>{{product.manufacturer}}</td>
					<td>{{product.category}}</td>
					<td>{{product.listPrice}}</td>
					<td>{{product.ourPrice}}</td>
					<td>{{product.active}}</td>
					<td>
						<input hidden="hidden" name="id" />
						<button md-button (click)="openDialog(product)" value="delete"><span class="fa fa-times"></span> delete</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div style="margin-top: 20px;"></div>

	<button mat-raised-button class="mat-warn" id="deleteSelected" (click)="removeSelectedProducts()">Delete Selected</button>
</div>
